body {
  margin: 0 auto;
  width: 50%;
  background-color: pink;
}

.buttons {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  height: 40px;
}

#showall, #dogbtn, #catbtn, #dinobtn, #addpet {
  width: 100px;
  border-radius: 5px;
  border: none;
  color: white;
}

#showall {
  color: black;
}

#dogbtn {
  background-color: #0A4D68;
}

#catbtn {
  background-color: #05BFDB;
}

#dinobtn {
  background-color: #00FFCA;
  color: black;
}

#addpet {
  color: black
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  border: solid 2px rgb(218, 34, 184);
  border-radius: 10px;
  padding: 20px;
}